// Profile role badges
.layout-single-column,
.layout-multiple-columns {
  [class*="_comp_badge__roleColored"],
  [class*="_comp_badge__default"] {
    background-color: transparent;
  }

  // Only remove padding from pinned badge, not role badge
  [class*="pinnedBadge"] [class*="_comp_badge__default"] {
    padding: 0;
  }

  .account__header__extra {
    margin-top: 0;
  }

  .account__header__badges {
    margin-bottom: 16px;
  }
}
