// Verified colors, joined label, profile link fields
.layout-single-column,
.layout-multiple-columns {
  // Verified colors for Firefox before :has
  .account__details .verified-badge a,
  .account__header__bar .account__header__fields .verified__mark,
  .account__header__bar .account__header__fields .verified a,
  .account__header__bar
    .account__header__bio
    .account__header__fields
    .verified
    a,
  .account__header__bar
    .account__header__bio
    .account__header__fields
    .verified
    dd {
    color: var(--color-verified);
    font-weight: var(--font-weight-regular);
  }

  // Reset verified colors
  .account__details .verified-badge a,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__fields
    .verified__mark,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__fields
    .verified
    a,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__bio
    .account__header__fields
    .verified
    a,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__bio
    .account__header__fields
    .verified
    dd {
    color: var(--color-accent);
    font-weight: var(--font-weight-regular);
  }

  // Replace verified__mark
  .account__details .verified-badge .verified-badge__mark,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__fields
    .verified__mark {
    background-image: var(--icon-verified-smaller);
    background-repeat: no-repeat;
    content: "";
    height: 15px;
    width: 15px;
  }

  .account__details .verified-badge .verified-badge__mark path,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__fields
    .verified__mark
    path {
    display: none;
  }

  .account__details .verified-badge,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__fields
    .verified
    dd {
    align-items: center;
    display: inline-flex;
    gap: 4px;
  }

  .account__details .verified-badge .verified-badge__mark,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__fields
    .verified
    dd
    span:nth-child(1) {
    align-items: center;
    display: flex;
    order: 2;
  }

  .account__details .verified-badge > span,
  .account__header__bar:has(.account__header__fields .verified)
    .account__header__fields
    .verified
    dd
    span:nth-child(2) {
    order: 1;
  }

  // Joined label - first dl is always "Joined"
  .account__header__bio .account__header__fields dl:first-of-type dt {
    display: inline-flex;
    font-weight: var(--font-weight-regular);
    gap: calc(var(--gap-default) / 2);
    text-transform: unset;
  }

  h4,
  .search__popout h4,
  .search-popout h4,
  .server-banner h4 {
    text-transform: unset;
  }

  // Calendar icon for "Joined" field
  .account__header__bio .account__header__fields dl:first-of-type::before {
    background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="%23717c9b" class="r-115tad6 r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"%3E%3Cg%3E%3Cpath d="M7 4V3h2v1h6V3h2v1h1.5C19.89 4 21 5.12 21 6.5v12c0 1.38-1.11 2.5-2.5 2.5h-13C4.12 21 3 19.88 3 18.5v-12C3 5.12 4.12 4 5.5 4H7zm0 2H5.5c-.27 0-.5.22-.5.5v12c0 .28.23.5.5.5h13c.28 0 .5-.22.5-.5v-12c0-.28-.22-.5-.5-.5H17v1h-2V6H9v1H7V6zm0 6h2v-2H7v2zm0 4h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm4-4h2v-2h-2v2z"%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 18.5px;
    width: 18.5px;
  }

  // Hide ::after for Joined field (no second icon needed)
  .account__header__bio .account__header__fields dl:first-of-type::after {
    display: none !important;
  }

  .account__header__bio .account__header__fields dd,
  .account__header__bio .account__header__fields dt {
    color: var(--color-dim);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    text-transform: unset;
  }

  .account__header__bio .account__header__fields dl {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: var(--color-dim);
    display: inline-flex;
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    gap: calc(var(--gap-default) / 2);
    padding: 0;
    width: 100%;
  }
}
