@use "../field-selectors" as *;

.layout-single-column,
.layout-multiple-columns {
  #{$field-list} > #{$field-item}:has(dd a[href*="patreon.com" i])::before {
    background-image: var(--icon-patreon);
    content: "";
    height: 18.5px;
    width: 18.5px;
  }
}
